* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Black And White Picture", system-ui;
}

.out-container {
  /* background-color: #eee; */
  background-image: url(./image/img01\ 2차\ 편집.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
  background-color: #fff;
  border: 5px solid gray;
  padding: 30px;
  text-align: center;
}
