* {
  margin: 0;
  box-sizing: border-box;
}

.out-container {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
  background-color: #fff;
  border: 5px solid gray;
  padding: 30px;
  text-align: center;
}